@media (max-width: 567px) {
  /* line 2, ../sass/media.scss */
  .center {
    width: 320px;
  }

  /* line 6, ../sass/media.scss */
  section.callback-main .container {
    height: 305px;
    background-size: cover;
    background-position: top right;
  }
  /* line 10, ../sass/media.scss */
  section.callback-main .container .content {
    width: 100%;
  }
  /* line 12, ../sass/media.scss */
  section.callback-main .container .content p {
    font-size: 15.3px;
    line-height: 20.4px;
    padding: 20px 30px 10px 30px;
  }
  /* line 17, ../sass/media.scss */
  section.callback-main .container .content .more {
    font-size: 10px;
    padding: 0 10px 0 30px;
    background-size: 3px;
  }
  /* line 22, ../sass/media.scss */
  section.callback-main .container .content .deal {
    font-size: 12px;
    left: 30px;
    bottom: 27px;
  }
  section.view{
    margin-bottom: 25px;
  }
  /* line 32, ../sass/media.scss */
  section.view .container h2 {
    font-size: 18px;
  }
  /* line 35, ../sass/media.scss */
  section.view .container .part {
    width: 50%;
  }
  /* line 37, ../sass/media.scss */
  section.view .container .part .image {
    height: 57px;
  }
  /* line 40, ../sass/media.scss */
  section.view .container .part p {
    font-size: 13px;
    line-height: 15.71px;
  }
  /* line 47, ../sass/media.scss */
  section.view .container .part:nth-of-type(1) .image img {
    height: 57px;
  }
  /* line 51, ../sass/media.scss */
  section.view .container .part:nth-of-type(1) p {
    padding: 0 13px;
  }
  /* line 57, ../sass/media.scss */
  section.view .container .part:nth-of-type(2) .image img {
    height: 30px;
  }
  /* line 61, ../sass/media.scss */
  section.view .container .part:nth-of-type(2) p {
    padding: 0 22px;
  }
  /* line 67, ../sass/media.scss */
  section.view .container .part:nth-of-type(3) .image img {
    height: 41px;
  }
  /* line 71, ../sass/media.scss */
  section.view .container .part:nth-of-type(3) p {
    padding: 0 21px;
  }
  /* line 77, ../sass/media.scss */
  section.view .container .part:nth-of-type(4) .image img {
    height: 46px;
  }
  /* line 81, ../sass/media.scss */
  section.view .container .part:nth-of-type(4) p {
    padding: 0px 26px;
  }
  /* line 85, ../sass/media.scss */
  section.view .container .part:nth-of-type(-n+2) {
    margin-bottom: 15px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  /* line 92, ../sass/media.scss */
  .center {
    width: 568px;
  }

  /* line 96, ../sass/media.scss */
  section.callback-main .container {
    height: 270px;
    background-size: cover;
  }
  /* line 100, ../sass/media.scss */
  section.callback-main .container .content p {
    font-size: 15.3px;
    line-height: 20.4px;
    padding: 20px 30px 10px 30px;
  }
  /* line 105, ../sass/media.scss */
  section.callback-main .container .content .more {
    font-size: 9.2px;
    padding: 0 10px 0 30px;
    background-size: 3px;
  }
  /* line 110, ../sass/media.scss */
  section.callback-main .container .content .deal {
    font-size: 12px;
    left: 30px;
    bottom: 20px;
  }

  /* line 120, ../sass/media.scss */
  section.view .container h2 {
    font-size: 18px;
  }
  /* line 124, ../sass/media.scss */
  section.view .container .part .image {
    height: 57px;
  }
  /* line 127, ../sass/media.scss */
  section.view .container .part p {
    font-size: 13px;
    line-height: 15.71px;
  }
  /* line 134, ../sass/media.scss */
  section.view .container .part:nth-of-type(1) .image img {
    height: 57px;
  }
  /* line 138, ../sass/media.scss */
  section.view .container .part:nth-of-type(1) p {
    padding: 0 5px;
  }
  /* line 144, ../sass/media.scss */
  section.view .container .part:nth-of-type(2) .image img {
    height: 30px;
  }
  /* line 148, ../sass/media.scss */
  section.view .container .part:nth-of-type(2) p {
    padding: 0 20px;
  }
  /* line 154, ../sass/media.scss */
  section.view .container .part:nth-of-type(3) .image img {
    height: 41px;
  }
  /* line 161, ../sass/media.scss */
  section.view .container .part:nth-of-type(4) .image img {
    height: 46px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  /* line 170, ../sass/media.scss */
  .center {
    width: 768px;
  }

  /* line 174, ../sass/media.scss */
  section.callback-main .container {
    height: 365px;
    background-size: cover;
  }
  /* line 178, ../sass/media.scss */
  section.callback-main .container .content p {
    font-size: 18.4px;
    line-height: 24.6px;
    padding: 30px;
  }
  /* line 183, ../sass/media.scss */
  section.callback-main .container .content .more {
    font-size: 9.2px;
    padding: 0 10px 0 30px;
    background-size: 3px;
  }
  /* line 188, ../sass/media.scss */
  section.callback-main .container .content .deal {
    font-size: 13px;
    left: 30px;
  }

  /* line 197, ../sass/media.scss */
  section.view .container h2 {
    font-size: 22.27px;
  }
  /* line 201, ../sass/media.scss */
  section.view .container .part .image {
    height: 57px;
  }
  /* line 204, ../sass/media.scss */
  section.view .container .part p {
    font-size: 18.43px;
    line-height: 22.27px;
  }
  /* line 211, ../sass/media.scss */
  section.view .container .part:nth-of-type(1) .image img {
    height: 57px;
  }
  /* line 218, ../sass/media.scss */
  section.view .container .part:nth-of-type(2) .image img {
    height: 30px;
  }
  /* line 222, ../sass/media.scss */
  section.view .container .part:nth-of-type(2) p {
    padding: 0 25px;
  }
  /* line 228, ../sass/media.scss */
  section.view .container .part:nth-of-type(3) .image img {
    height: 41px;
  }
  /* line 235, ../sass/media.scss */
  section.view .container .part:nth-of-type(4) .image img {
    height: 46px;
  }
}
