/* line 5, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'daxlineoffcpro';
  src: url("/moya/fonts/Daxlineoffcpro.eot");
  src: url("/moya/fonts/Daxlineoffcpro.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcpro.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcpro.woff") format("woff"), url("/moya/fonts/Daxlineoffcpro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcprolight';
  src: url("/moya/fonts/Daxlineoffcprolight.eot");
  src: url("/moya/fonts/Daxlineoffcprolight.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcprolight.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcprolight.woff") format("woff"), url("/moya/fonts/Daxlineoffcprolight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcprobold';
  src: url("/moya/fonts/Daxlineoffcprobold.eot");
  src: url("/moya/fonts/Daxlineoffcprobold.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcprobold.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcprobold.woff") format("woff"), url("/moya/fonts/Daxlineoffcpro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcproblack';
  src: url("/moya/fonts/Daxlineoffcproblack.eot");
  src: url("/moya/fonts/Daxlineoffcproblack.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcproblack.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcproblack.woff") format("woff"), url("/moya/fonts/Daxlineoffcproblack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 50, ../sass/style.scss */
.center {
  width: 1000px;
  margin: 0 auto;
}

/* line 54, ../sass/style.scss */
section {
  overflow: hidden;
  position: relative;
  font-family: "daxlineoffcpro";
}

/* line 60, ../sass/style.scss */
section.callback-main .container {
  height: 476px;
  background-image: url("../images/support-main-bg.jpg");
  position: relative;
}
/* line 61, ../sass/style.scss */
section.callback-main .container a {
  text-decoration: none;
  font-family: "daxlineoffcprobold";
  color: #fff;
  background-image: url("../images/triangle.png");
  background-position: center right;
  background-repeat: no-repeat;
}
/* line 68, ../sass/style.scss */
section.callback-main .container a span {
  /*border-bottom: 1px solid #fff;*/
}
/* line 75, ../sass/style.scss */
section.callback-main .container .content {
  position: absolute;
  right: 0;
  background: rgba(112, 111, 111, 0.6);
  height: 100%;
  width: 50%;
  padding: 0;
}
/* line 81, ../sass/style.scss */
section.callback-main .container .content p {
  font-size: 24px;
  font-family: "daxlineoffcpro";
  padding: 40px;
  color: #fff;
}
/* line 86, ../sass/style.scss */
section.callback-main .container .content p span {
  font-family: "daxlineoffcprobold";
}
/* line 90, ../sass/style.scss */
section.callback-main .container .content p:nth-of-type(2) {
  padding-top: 10px;
}
/* line 93, ../sass/style.scss */
section.callback-main .container .content .more {
  font-size: 12px;
  padding: 0 14px 0 40px;
}
/* line 97, ../sass/style.scss */
section.callback-main .container .content .deal {
  font-size: 20px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  padding-right: 14px;
}

/* line 109, ../sass/style.scss */
section.view .container h2 {
  text-align: center;
  font-family: "daxlineoffcprobold";
  font-size: 29px;
  color: #878787;
  padding: 25px 0;
}
/* line 116, ../sass/style.scss */
section.view .container .part {
  width: 25%;
  float: left;
}
/* line 119, ../sass/style.scss */
section.view .container .part .image {
  width: 100%;
  height: 70px;
  position: relative;
}
/* line 123, ../sass/style.scss */
section.view .container .part .image img {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
/* line 133, ../sass/style.scss */
section.view .container .part p {
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
  color: #706f6f;
  line-height: 29px;
}
/* line 142, ../sass/style.scss */
section.view .container .part:nth-of-type(2) p {
  padding: 0 30px;
}
/* line 147, ../sass/style.scss */
section.view .container .part:nth-of-type(3) p {
  padding: 0 15px;
}
/* line 152, ../sass/style.scss */
section.view .container .part:nth-of-type(4) p {
  padding: 0px 25px;
}
