@font-face {
    font-family: 'daxlineoffcpro';
    src: url('/moya/fonts/Daxlineoffcpro.eot');
    src: url('/moya/fonts/Daxlineoffcpro.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcpro.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcpro.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcpro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprolight';
    src: url('/moya/fonts/Daxlineoffcprolight.eot');
    src: url('/moya/fonts/Daxlineoffcprolight.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcprolight.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcprolight.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcprolight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprobold';
    src: url('/moya/fonts/Daxlineoffcprobold.eot');
    src: url('/moya/fonts/Daxlineoffcprobold.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcprobold.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcprobold.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcpro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html
{
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: #fff;
}

html, button, input, select, textarea
{
	font-family: 'daxlineoffcpro', Tahoma, Arial, Helvetica, sans-serif;
}

body
{
	min-width: 850px;
	height: 100%;
	margin: 0;
	font-size: 16px;
    letter-spacing:-0.6px;
	background: #fff;
	color: #878787;
}

::-moz-selection
{
    background:#333;
    color:#fff;
    text-shadow:none
}

::selection
{
	background: #333;
	color: #fff;
	text-shadow: none
}

a
{
    color:#c4d600;
	text-decoration: underline;
}

a:visited
{
}

a:hover
{
	text-decoration: none
}
a.invert
{
	text-decoration: none;
}
a.invert:hover
{
	text-decoration: underline;
}

a:focus, a:hover, a:active
{
	outline: none
}

a.dotted
{
	text-decoration: none;
	border-bottom: 1px dotted #e9292a;
}

a.dotted:hover
{
	border-bottom-color: transparent;
}

h1 {
	font-size: 24px;
	line-height: 36px;
	margin: 20px 0;
	font-weight: normal;
}
h2 {
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	margin: 17px 0 6px;
}

ul, ol
{
	margin:0;
	padding:0;
	list-style: none;
	list-style-image: none;
}

dd
{
	margin: 0 0 0 40px
}

form
{
	margin: 0;
}

fieldset
{
	border: 0;
	margin: 0;
	padding: 0;
}

label
{
	cursor: pointer;
}

legend
{
	border: 0;
    margin-left:-7px;
	padding: 0;
	white-space: normal;
}

button, input, select, textarea
{
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
    vertical-align:middle;
}

button, input
{
	line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"]
{
	cursor: pointer;
	-webkit-appearance: button;
    overflow:visible
}

input[type="search"]
{
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
.header-search input[type="text"], .header-search input[type="submit"]{ 
    margin-top: 0; 
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button
{
    -webkit-appearance:none
}

button::-moz-focus-inner, input::-moz-focus-inner
{
    border:0;
    padding:0
}

textarea
{
	overflow: auto;
	vertical-align: top;
	resize: vertical
}
input:focus
{
	outline: none;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea
{
	width: 100%;
}

textarea
{
	resize: none;
	outline: none;
	height: 155px;
}

input[type="submit"], input[type="button"], .button
{
	border: none;
	box-shadow: none;
	display: inline-block;
	height: 33px;
	vertical-align: top;
	border-radius: 0;
	color: #fff;
	padding: 4px 12px;
	line-height: 26px;
	font-size: 16px;
	font-family: 'daxlineprobold';
	background: #384f3a;
}

table
{
	border-collapse: collapse;
	border-spacing: 0
}

/*nav a:hover, nav a.active
{
	color: #a0ae39;
}

nav a:first-child
{
	margin-left: 0;
}

footer menu ul {
	display: table-cell;
	list-style: none;
	text-align: left;
	vertical-align: bottom;
	padding-left: 40px;
}

footer menu li {
	display: block;
	margin: 11px 0 0;
	min-width: 85px;
}
footer menu li:first-child {
	margin-top: 1px;
}
footer menu a {
	font: normal 13px 'daxlinepro-medium';
	text-decoration: none;
}
footer menu a:hover
{
	text-decoration: underline;
}*/


/* ==================================== */

.clr
{
    clear:both;
}

.cmd
{
    cursor:pointer;
}

.main
{
    clear:both;
    min-width:850px;
    max-width:1000px;
    margin:0px auto;
    padding:0px;
}

.main > .left
{
    float:left;
    width:250px;
}

.main > .right
{
    margin-left:280px;
}


.fContainer,
.fItem
{
    display:flex;
    display:-webkit-flex;
}

.fFix
{
    flex-grow:0;
    -webkit-flex-grow:0;

    flex-shrink:0;
    -webkit-flex-shrink:0;
}

.fMore
{
    flex-grow:1;
    -webkit-flex-grow:1;

    flex-shrink:0;
    -webkit-flex-shrink:0;
}

header .info,
header nav > ul
{
    height:60px;

    align-items:center;
    -webkit-align-items:center;
}

header .search
{
    flex-basis:145px;
    -webkit-flex-basis:145px;
}

header .contact
{
    -webkit-flex-basis:
    padding-right:10px;

    flex-direction:row-reverse;
    -webkit-flex-direction:row-reverse;
}

header .contact > div
{
    margin-left:20px;
    font-size:14px;
}

a.phone
{
    font-family: 'daxlineoffcprobold';
    color:#a3b245;
    font-size:15px;
    text-decoration:none;
}

.search > .inner
{
    display:inline-block;
    white-space:nowrap;
    background-color:#f2f2f2;
    height:22px;
    line-height:22px;
    padding:0px 5px;
}

.search > .inner input
{
    width:80px;
    background-color:transparent;
    border:0px;
    line-height:22px;
    font-size:16px;
    transition:0.4s;
}

.search > .inner input:focus
{
    width:200px;
}

.crumbs
{
    background: transparent;
    line-height:60px;
    font-size: 14px;
    margin-bottom: 22px;
}

.crumbs .sep
{
    font-size:12px;
    margin:0px 10px;
}

.crumbs a
{
    color:inherit;
    text-decoration:none;
}

.crumbs a:hover,
.crumbs a.active
{
    color:#c4d600;
}

menu.feedback ul
{
    display:none;
}


menu.feedback ul.sub0
{
    display:block;
}

menu.feedback a
{
    color:inherit;
    text-decoration:none;
    border-bottom: 1px dotted #ccc;
}

menu.feedback a.sub0
{
    border-bottom:none;
}

menu.feedback a:hover,
menu.feedback a.active
{
    color:#c4d600;
}

menu.feedback ul
{
    padding:1px;
    margin-left:50px;
}

menu.feedback ul.sub0
{
    width: 800px;
    padding:0px;
    margin:0px;
}

menu.feedback ul.sub1
{
    margin:20px 0px;
}

menu.feedback li
{
    font-size:16px;
    line-height:32px;
    min-height:32px;
}

menu.feedback li span.fa{
    font-size: 11px;
    margin-left: 5px;
}
menu.feedback ul.sub0 > li
{
    position:relative;
    font-size:26px;
    min-height:30px;
    line-height:40px;
    border-bottom: 1px dotted #ccc;
    padding:30px 0px 30px 117px;
    margin:0px;
}
menu.feedback ul.sub0 > li:last-child{
    border: 0;
}
menu.feedback a.sub0 > .icon
{
    position:absolute;
    left:0px;
    top:0;
    width:100px;
    height:100px;
    background-position:center center;
    background-repeat:no-repeat;
}
menu.feedback .back{
    margin-top: 40px;
}
menu.feedback .back a{
    border:0;
}
menu.feedback .back a span{
    margin-right: 10px;
}
.controls
{
    font-size:20px;
    font-family: 'daxlineoffcprobold';
    width: 440px;
    margin: 40px auto 20px auto;
}
.controls a
{
    border:none;
    color:inherit;
    text-decoration:none;
    font-size: 13px;
    line-height: 16px;
}

.controls a:hover
{
    color:#c4d600;
}

.controls a > span{
    font-size: 11px;
    margin-right: 6px;   
}
.step-1{
    display: block;
}
.controls .step-1, .controls .step-2{
    float: right;
}
.controls  .on, .controls  button{
    float: right;
    background: transparent;
    color:#878787;
    border:0;
    font-size: 16px;
    line-height: 16px;
    font-family: daxlineoffcprobold;
    /*line-height: 32px;*/
    outline: none;
    cursor: pointer;
}
.controls .on i, .controls  button i{
    margin-left: 13px;
    font-size: 13px;
    vertical-align: 1px;
}
.step-2{
    display: none;
}
.step-2 h3{
    font-size: 22px;
    line-height: 28px;
    font-family: daxlineoffcpro;
    font-weight: normal;
    margin-bottom: 60px;
}
input:invalid, textarea:invalid{
    background-color: #fff;
}
form{
    display: block;
    width:440px;
    margin: 0 auto;
    position: relative;
}
form input[type="text"]{
    height: 45px;
}
#shops_chosen, #products_chosen, #worker_chosen{
    display: none;
}
form input, form input[type="text"], form textarea, form .select{
    border: 0;
    border-bottom: 1px solid #d9d9d6;
    padding: 12px 0;
    font-size: 16px;
    padding-left: 10px;
    width: 100%;
}
form textarea{
    padding:10px 0 10px 10px;
    height: 45px;
}
input[type="checkbox"] + label{
    padding-left: 0;
}
input[type="checkbox"] + label::before{
    display: none;
}
form select{
    display: none;
}
form .select{
    position: relative;
    padding: 0;
    margin-top:30px;
    cursor: pointer;
}
form .select p{
    margin: 0 15px 0 10px;
    color: #a9a9a9;
    font-size: 17px;
    padding: 11px 0;
}
form .select p i{
    font-size: 12px;
    float: right;
    line-height: 20px;
}
form .select .scroll{
    display: none;
    position: absolute;
    top: 46px;
    background: #fff;
    width: 440px;
    margin: 0;
    z-index: 2;
    padding: 0;
    box-shadow: 0px 1px 1px rgb(185, 185, 185);
    max-height: 200px; 
    overflow-y: auto;
}
form .select .scroll input{
    margin-top: 0;
    font-family: 'daxlineoffcprolight';
    background: rgba(204, 204, 204, 0.1);
}
form .select .scroll ul li{
    padding:10px 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
}
form .select .scroll ul li p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'daxlineoffcprolight';
}
form .select .scroll ul li:last-child{
    border:0;
}
form label{
    font-size: 12px;
    color: #3d3d3d;
    display: block;
}
form .emotions{
    color: #a9a9a9;
    margin-left: 10px;
    font-size: 16px;
}
form .select .scroll ul li:hover{
    background: rgba(204, 204, 204, 0.1);
}

form input[type="text" i]:disabled{
    background: transparent;
}

form label.uploadFile{
    position: absolute;
    font-size: 25px;
    color: #b1b1b1;
    right: 0;
    top: 11px;
}
form img{
    display: block;
    margin: 50px auto 0 auto;
}
form input::-moz-placeholder, form textarea::-moz-placeholder{
    color: #a9a9a9;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder{
    color: #a9a9a9;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder{
    color: #a9a9a9;
}
form input, form input[type="text"], form textarea{
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    background: transparent;
}
form textarea{
    overflow: auto;
}
form input.error{
    border-color: #D22630;
}
form input[type="text"].required.valid{
    border-color: #c4d600;
}
form label.error{
    margin-top: 10px;
    color:#D22630;  
}
form label.error i{
    float: right;
    font-size: 15px;
}
form .fa-info, form .fa-paperclip{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 420px;
    font-size: 14px;
    color: #b1b1b1;
}
form .fa-paperclip{
    font-size: 18px;
    left: 415px;
}
form .fa-info:hover, form .fa-paperclip:hover{
    color: #c1d651;
}
form img.card, form img.check{
    position: absolute;
    right: -260px;
    margin:0;
    display: none;
}
form img.card{
    top:-35px;
}
form img.check{
    top:50px;
}
form label.emotions{
    margin-top: 30px; 
}
form input#file{
    display: none;
}
form #i-agree{
    display: none;
}
form label.checkbox span.checkbox{
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(../form/images/checkbox.png);
    background-repeat: no-repeat; 
    vertical-align: 14px;
}
form label.checkbox{
    font-size: 16px; 
    line-height: 20px;
    margin-top: 30px;
}
form label.checkbox p{
    display: inline-block;
    margin:0 0 0 15px;
    width: 350px;
}
form .fa-container{
    position: relative;
}
.footer-search input[type="text"], .footer-search input[type="submit"]{
    margin:0;
}