@import "compass/reset";

@font-face {
    font-family: 'daxlineoffcpro';
    src: url('fonts/Daxlineoffcpro.eot');
    src: url('fonts/Daxlineoffcpro.eot?#iefix') format('embedded-opentype'),
         url('fonts/Daxlineoffcpro.woff2') format('woff2'),
         url('fonts/Daxlineoffcpro.woff') format('woff'),
         url('fonts/Daxlineoffcpro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprolight';
    src: url('fonts/Daxlineoffcprolight.eot');
    src: url('fonts/Daxlineoffcprolight.eot?#iefix') format('embedded-opentype'),
         url('fonts/Daxlineoffcprolight.woff2') format('woff2'),
         url('fonts/Daxlineoffcprolight.woff') format('woff'),
         url('fonts/Daxlineoffcprolight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprobold';
    src: url('fonts/Daxlineoffcprobold.eot');
    src: url('fonts/Daxlineoffcprobold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Daxlineoffcprobold.woff2') format('woff2'),
         url('fonts/Daxlineoffcprobold.woff') format('woff'),
         url('fonts/Daxlineoffcpro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$bold: 'daxlineoffcprobold';
$regular: 'daxlineoffcpro';
$light: 'daxlineoffcprolight';

.center{
	width: 1000px;
	margin: auto;
	font-family: $regular;
}
.center nav{
	margin-left: 18px;
  margin-top: 20px;
}
footer{
	margin:auto;
}
input, select, textarea{
	outline:none; 
	background: transparent;
}
section.feedback{
	padding: 20px 0 40px 0;
	.chosen-container{
		display:none!important;
	}
	form{
		width: 440px;
		display:block;
		margin: 0 auto;
		font-size: 16px;
		input, textarea, input[type="text"]{
			overflow: hidden;
			height: auto;
			background: transparent;
			margin-top: 30px;
			width: 100%;
			border: 0;
			border-bottom: 1px solid #d9d9d6;
			padding: 12px 0;
			font-size: 16px;
			padding-left: 10px;
			font-family: $light;
		}
		input::-moz-placeholder, textarea::-moz-placeholder{
    	color: #a9a9a9;
	}	
		input:-ms-input-placeholder, textarea:-ms-input-placeholder{
		  color: #a9a9a9;
		}
		input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
		  color: #a9a9a9;
		}
		textarea{
			height: 45px;
			resize: none;
		}
		select{
			display:none;
		}
		.select{
			margin-top: 	30px;
			border-bottom: 1px solid #d9d9d6;
			//padding: 14px 0;
			font-size: 16px;
			font-family: $light;
			position: relative;
			p{
				color: #a9a9a9;
				padding-left: 10px;
				cursor: pointer;
				line-height: 	45px;
				i{
					float: right;
					margin-right: 	10px;
				}
			}
			div{
				display:none;
			}
			.scroll{
				position:absolute;
				top: 46px;
				background-color: #fff;
				width: 100%;
				z-index: 1;
				box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
				input{
					margin-top: 0;
					background: rgba(204, 204, 204, 0.1);
				}
				ul{
					max-height: 200px;
					overflow: auto;
					li{
						border-bottom: 	1px solid rgba(217, 217, 214, 0.3);
					}
					li:hover{
						background: rgba(204, 204, 204, 0.3);
					}
					li:last-child{
						border:0;
					}
				}
			}
		}
		.subtype{
			display:none;
		}
		#file{
			display: none;
		}
		label.forFile{
			display: block;
			position: relative;
			input{
				background: transparent;
			}
			i{
				position: absolute;
    		font-size: 16px;   
    		color: #b1b1b1;
    		right: 10px; 
    		top: 45px;
    		cursor: pointer;
			}
			i:hover{
				color: #C1D43C;  
			}
		}
		#contact{
			display:none;  
		}   
		.contact{
			display: block;
			margin-top: 30px;
			line-height: 18px;
			cursor: pointer;
			span{
				width: 18px;
    		height: 18px;
    		display: inline-block;
    		background-image: url(../images/checkbox.png);
    		background-repeat: no-repeat; 
    		float: left;
    		margin-right: 15px;
    	}
    	p{
    		font-size: 16px;
    		color: #b1b1b1; 
    	}
		}
		button{
			margin-top: 30px;
			width: 100%;
			background: #C1D43C;
			color: #364E39;
			border: 0;
			font-family: $bold;
			padding: 12px 0;
			font-size: 16px;
			line-height: 18px;
			i{ 
				margin-left: 10px;
			}
		}
		.time{
			display:none;
			margin-top: 30px;
			p{
				display: inline-block;
				line-height: 41px;
			}
			span{
				padding: 12px 0;
				line-height: 16px;
				font-size: 16px;
			}
			.after, .before{
				margin:0 10px;
				width: 100px;
				cursor: pointer;
				display: inline-block;
				border-bottom: 1px solid #d9d9d6;
				color: #a9a9a9;
				position: relative;
				b{
					padding-left: 10px;
				}
				i{
					float: right;
				}
				ul{
					display: none;
					position: absolute;
					background: #fff;
    			top: 41px;
    			width: 100%; 
    			max-height: 100px;
    			overflow-y: auto;
    			li{
    				padding: 6px 0 6px 10px; 
    			}
    			li:hover{
    				background: #d9d9d6;
    				color: #717171;
    			}
				}
			}
		}
	}
}