/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
    font-family: 'daxlineoffcpro';
    src: url('/moya/fonts/Daxlineoffcpro.eot');
    src: url('/moya/fonts/Daxlineoffcpro.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcpro.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcpro.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcpro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprolight';
    src: url('/moya/fonts/Daxlineoffcprolight.eot');
    src: url('/moya/fonts/Daxlineoffcprolight.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcprolight.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcprolight.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcprolight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprobold';
    src: url('/moya/fonts/Daxlineoffcprobold.eot');
    src: url('/moya/fonts/Daxlineoffcprobold.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcprobold.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcprobold.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcpro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcproblack';
    src: url('/moya/fonts/Daxlineoffcproblack.eot');
    src: url('/moya/fonts/Daxlineoffcproblack.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcproblack.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcproblack.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcproblack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

$regular: 'daxlineoffcpro';
$bold: 'daxlineoffcprobold';
$black: 'daxlineoffcproblack';
$light: 'daxlineoffcprolight';


.center{
	width:1000px;
	margin: 0 auto;
    nav{
        margin-left: 17px;
    }
}
footer{
    margin: auto;
}
section.content{
    padding: 40px 20px 0 20px;
    margin-bottom: 20px;
    position: relative;
	h2{
        text-align: center;
        margin:0 0 40px 0;
        font-family: $bold;
        color:#939598;
        font-size: 28px;
    }
    p{
        line-height: 24px;
        font-size: 20px;
        color: #939598;
        text-align: center;
        font-family: $regular;
        a{
            color:rgba(193, 212, 61, 1.0);
            text-decoration: none;
            i{
                font-size: 17px;
                margin-left: 6px;
            }
        }
    }
    p:nth-of-type(2){
        margin-top: 16px;
    }
    div.haiku{
        z-index: 99;
    }
    div.haiku, div.haiku-appled{
        margin-top: 43px;
        height: 500px;
        background-image: url("../../images/bg-haiku.jpg");
        position: relative;
        img{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            right:30px;
        }
        p{
            font-size: 20px;
            line-height: 28px;
            color:#4E3629;
            position: absolute;
            top:84px;
            left:80px;
            text-align:left;
        }
    }
    div.haiku-appled{
        margin-top: -500px;
        z-index: 98;
        .apple{
            position: absolute;
            top: 400px;
            left: 0;
        }
    }
    .social{
        margin: 0;
        text-align: left;
        position: absolute;
        bottom: 20px;
        left: 106px;
        z-index: 99;
        p{
            font-size: 20px;
            color: #4E3629; 
        }
        a{
            display:inline-block;
            margin:18px 10px 0 0;
            img{
            }
        }
    }
}
