@media (max-width: 567px) {
	footer menu *{
		border: 1px solid transparent!important;
	}
	.center{
		width: 320px;
	}
	body{
		min-width: auto;
	}
	.main > .right{
		margin-left: 0;
		padding: 10px;
	}
	.right a{
		line-height: normal; 
	}
	.crumbs .sep{
		line-height: normal;
	}
	.crumbs{
		font-size: 9px;
		text-align: center;
	}
	.main{
		min-width: auto;
		width: 320px;
		margin: 0 auto;
	}
	form, form .select .scroll, .controls{
		width: 300px; 
		margin:auto;
	}
	form label.checkbox p{
		width:250px;
	}
	.controls{
		height: 25px;
    margin: 30px auto;
	}
	.controls a, .controls .on, .controls button{
		line-height: 25px;
	}
	#canvas{
		width:370px!important;
		height: 350px!important;
		margin-left: -35px;
	}
	#animation_container, #dom_overlay_container{
		overflow: hidden;
		width: 320px!important;
	}
	.crumbs{
		line-height: 20px;
	}
	.step-2 h3{
		margin-bottom: 0;
	}
	form .fa-info, form .fa-paperclip{
		left: 280px;
		display: none;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	body{
		min-width: 568px;
	}
	.center{
		width:568px; 
	}
	.crumbs{
		text-align: center;
	}
	.main > .right{
		display: inline-block;
		margin-left: 0;
	}
	.main{
		max-width: 568px;
		min-width: 568px;
	}	
}
@media (min-width: 768px) and (max-width: 999px) {
	body{
		min-width: 768px;
	}
	.center{
		width:768px; 
	}
	.crumbs{
		text-align: center;
	}
	.main > .right{
		display: inline-block;
		margin-left: 0;
	}
	.main{
		max-width: 768px;
		min-width: 768px;
	}	
}