$regular: 'daxlineoffcpro';
$bold: 'daxlineoffcprobold';
$black: 'daxlineoffcproblack';
$light: 'daxlineoffcprolight';

@media (max-width: 567px) {
	.center{
		width:320px;
	}
	section{
		h2{
			font-size: 21px;
			padding: 20px 0;
		}
	}
	section.description{
		p{
			font-size: 21px;
			line-height: 30px;
			text-align: center;
			padding: 195px 45px 25px 45px;
		}
		img{
			left:0;
			right: 0;
			top: 25px;
			transform: initial;
			margin: 0 auto;
		}
	}
	section.table{
		.item{
			height: auto;
			.l_el{
				width: 100%;
			}
			p{
				position: static;
				transform: initial;
				font-size: 21px;
				line-height: 24px;
				text-align: center;
				padding: 20px 25px;
				a{
					margin-top: 10px;
				}
			}
		}
		.item:last-child{
			margin-bottom: 0;
		}
	}
	section.facts{
		.item{
			.count{
				font-size: 48px; 
				line-height: 40px;
				background-size: 35px;
			}
			p{
				font-size: 21px;
				line-height: 24px;
				padding: 50px 0;
				text-align: center;
			}
		}
		.item:nth-of-type(1){
			.count{
				left:240px;
				top:30px;
				padding: 50px 0 0 0;
			}
			p{
				width: 235px;
				text-align: center;
				padding-left:10px;
			}
		}
		.item:nth-of-type(2){
			.count{
				left:40px;
				top:35px;
			}
		}
		.item:nth-of-type(3){
			.count{
				left: 75px;
				top: 105px;
			}
			p{
				padding: 50px 20px;
				span{
					margin-bottom: 45px;
					display:inline-block;
				}
			}
		}
		.item:nth-of-type(4){
			.count{
				left: 75px;
				top: 56px;
			}
			p{
				padding:97px 20px 50px 20px;
				span{ 
					margin: 0;
				}
			}
		}
		.item:nth-of-type(5){
			.count{
				left: 60px;
				top: 105px;
			}
			p{
				padding:50px 20px 50px 20px;
				span{ 
					margin-bottom: 45px;
					display:inline-block;
				}
			}
		}
	}
	section.question{
		h2{
			margin-top: 40px;
		}
	}
}
 