@import "compass/reset";

@font-face {
    font-family: 'daxlineoffcpro';
    src: url('/moya/fonts/Daxlineoffcpro.eot');
    src: url('/moya/fonts/Daxlineoffcpro.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcpro.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcpro.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcpro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprolight';
    src: url('/moya/fonts/Daxlineoffcprolight.eot');
    src: url('/moya/fonts/Daxlineoffcprolight.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcprolight.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcprolight.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcprolight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprobold';
    src: url('/moya/fonts/Daxlineoffcprobold.eot');
    src: url('/moya/fonts/Daxlineoffcprobold.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcprobold.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcprobold.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcpro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcproblack';
    src: url('/moya/fonts/Daxlineoffcproblack.eot');
    src: url('/moya/fonts/Daxlineoffcproblack.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcproblack.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcproblack.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcproblack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

$regular: 'daxlineoffcpro';
$bold: 'daxlineoffcprobold';
$black: 'daxlineoffcproblack';
$light: 'daxlineoffcprolight';


.center{
	width:1000px;
	margin: 0 auto;
    nav{
        margin-left: 17px;
    }
}
footer{
    margin: auto;
}
section{
    font-size: 28px;
    line-height: 40px;
    font-family: $regular;
    color: #696c6f;
    h2{
        font-family:  $bold; 
        text-align: center;
        padding: 25px 0;
    }
}
section.description{
    background: #f2f6f8;
    position: relative;
    img{
        position: absolute;
        left:765px;
        top: 50%;
        transform: translateY(-50%);
    }
    p{
        padding: 70px 65px;
        span{
            color:#d1222c;
        }
    }
}
section.table{
    h2{
        color:#d1222c;    
    }
    .item{
        height: 250px;
        border: 3px solid #f2f6f8;
        margin-bottom: 16px;
        position: relative;
        .l_el{
            background: #f2f6f8;
            width:250px;
            height: 250px;
            position: relative;
            img{
                position: absolute;
                left:0;
                margin: auto;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
        p{
            position: absolute;
            left: 330px;
            top: 50%;
            transform: translateY(-50%);
            a{
                margin-top: 20px;
                font-family: $bold;
                color: #a8ca24;
                text-decoration: none;
                display: block;
                i{
                    margin-left: 15px;
                    font-size: 20px;
                }
            }
        }
    }
}
section.facts{
    .item{
        border-bottom: 3px solid #f2f6f8;
        position: relative;
        p{
            padding: 70px 0 70px 65px;
        }
        .count{
            position: absolute;
            font-size: 70px;
            background-repeat: no-repeat;
            background-position: top right;
            line-height: 63px;
            padding-right: 50px;
            display: inline-block;
        }
    }
    .item:nth-of-type(1){
        border-top: 3px solid #f2f6f8;
        .count{
            background-image: url("../images/count-1.png");
            left: 681px;
            top: 47px;
        }
    }
    .item:nth-of-type(2){
        p{
            span{
                margin-left: 105px;
            }
        }
        .count{
            background-image: url("../images/count-2.png");
            left: 62px;
            top: 47px;
        }
    }
    .item:nth-of-type(3){
        .count{
            background-image: url("../images/count-3.png");
            left: 695px;
            top: 47px;
        }
    }
    .item:nth-of-type(4){
        p{
            span{
                margin-left: 228px;
            }
        }
        .count{
            background-image: url("../images/count-4.png");
            left: 62px;
            top: 47px;
        }
    }
    .item:nth-of-type(5){
        .count{
            background-image: url("../images/count-5.png");
            left: 575px;
            top: 47px;
        }
    }
}
section.question{
    text-align: center;
    margin-bottom:60px;
    h2{
        margin-top: 65px;
    }
    span{
        display: inline-block;
        padding: 15px;
        font-size: 16px;
        background: #385b3e;
        line-height: normal;
        color: #fff;
        font-family: $bold;
        i{
            font-size: 13px;
            margin-left: 10px;
        }
    }
}