@media (max-width: 567px) {
  /* line 7, ../sass/media.scss */
  .center {
    width: 320px;
  }

  /* line 11, ../sass/media.scss */
  section h2 {
    font-size: 18px;
    line-height: 32px;
    padding: 25px 20px;
  }

  /* line 18, ../sass/media.scss */
  section.description p {
    font-size: 18px;
    line-height: 24px;
    font-family: "daxlineoffcprobold";
    text-align: center;
    padding: 195px 14px 25px 25px;
  }
  /* line 25, ../sass/media.scss */
  section.description img {
    left: 0;
    right: 0;
    top: 25px;
    transform: initial;
    margin: 0 auto;
  }

  /* line 37, ../sass/media.scss */
  section.pull .item {
    text-align: center;
    margin: 10px 0;
  }
  /* line 40, ../sass/media.scss */
  section.pull .item span {
    margin-left: 0;
  }
  /* line 43, ../sass/media.scss */
  section.pull .item p {
    font-size: 16px;
    line-height: 20px;
    position: static;
    display: block;
    transform: initial;
    margin-top: 15px;
  }

  /* line 53, ../sass/media.scss */
  section.steps {
    margin: 20px 0 20px 0;
  }
  /* line 55, ../sass/media.scss */
  section.steps .item {
    text-align: center;
    margin-top: 40px;
  }
  /* line 58, ../sass/media.scss */
  section.steps .item img {
    margin: 0;
    display: inline-block;
    float: none;
  }
  /* line 63, ../sass/media.scss */
  section.steps .item p {
    text-align: center;
    position: static;
    transform: initial;
    font-size: 18px;
    line-height: 27px;
    margin-top: 10px;
  }
  /* line 73, ../sass/media.scss */
  section.steps .item:nth-child(even) img {
    margin: 0;
  }
  /* line 76, ../sass/media.scss */
  section.steps .item:nth-child(even) p {
    text-align: center;
    padding: 0 20px;
  }
  /* line 82, ../sass/media.scss */
  section.steps .item:nth-child(odd) img {
    margin: 0;
    float: none;
  }
  /* line 86, ../sass/media.scss */
  section.steps .item:nth-child(odd) p {
    text-align: center;
    padding: 0 20px;
  }

  /* line 92, ../sass/media.scss */
  section.answer {
    margin-bottom: 20px;
  }
  /* line 94, ../sass/media.scss */
  section.answer p {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
  }
}
