/* line 5, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'daxlineoffcpro';
  src: url("/moya/fonts/Daxlineoffcpro.eot");
  src: url("/moya/fonts/Daxlineoffcpro.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcpro.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcpro.woff") format("woff"), url("/moya/fonts/Daxlineoffcpro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcprolight';
  src: url("/moya/fonts/Daxlineoffcprolight.eot");
  src: url("/moya/fonts/Daxlineoffcprolight.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcprolight.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcprolight.woff") format("woff"), url("/moya/fonts/Daxlineoffcprolight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcprobold';
  src: url("/moya/fonts/Daxlineoffcprobold.eot");
  src: url("/moya/fonts/Daxlineoffcprobold.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcprobold.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcprobold.woff") format("woff"), url("/moya/fonts/Daxlineoffcpro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcproblack';
  src: url("/moya/fonts/Daxlineoffcproblack.eot");
  src: url("/moya/fonts/Daxlineoffcproblack.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcproblack.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcproblack.woff") format("woff"), url("/moya/fonts/Daxlineoffcproblack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 51, ../sass/style.scss */
.center {
  width: 1000px;
  margin: 0 auto;
}
/* line 54, ../sass/style.scss */
.center nav {
  margin-left: 17px;
}

/* line 58, ../sass/style.scss */
footer {
  margin: auto;
}

/* line 61, ../sass/style.scss */
section {
  font-family: "daxlineoffcpro";
  color: #464646;
}
/* line 64, ../sass/style.scss */
section h2 {
  font-size: 28px;
  line-height: 32px;
  color: #939598;
  padding: 50px 0;
  text-align: center;
  font-family: "daxlineoffcprobold";
}

/* line 73, ../sass/style.scss */
section.description {
  background: #d9d9d6;
  position: relative;
}
/* line 76, ../sass/style.scss */
section.description p {
  font-size: 30px;
  line-height: 45px;
  color: #464646;
  padding: 40px;
}
/* line 82, ../sass/style.scss */
section.description img {
  position: absolute;
  left: 765px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 89, ../sass/style.scss */
section.pull {
  overflow: hidden;
}
/* line 91, ../sass/style.scss */
section.pull .item {
  width: 50%;
  float: left;
  position: relative;
  margin: 20px 0;
}
/* line 96, ../sass/style.scss */
section.pull .item span {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 80px;
}
/* line 104, ../sass/style.scss */
section.pull .item p {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  left: 160px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 115, ../sass/style.scss */
section.pull .item:nth-of-type(1) span {
  background-image: url("../images/pull-1.png");
}
/* line 120, ../sass/style.scss */
section.pull .item:nth-of-type(2) span {
  background-image: url("../images/pull-2.png");
}
/* line 125, ../sass/style.scss */
section.pull .item:nth-of-type(3) span {
  background-image: url("../images/pull-3.png");
}
/* line 130, ../sass/style.scss */
section.pull .item:nth-of-type(4) span {
  background-image: url("../images/pull-4.png");
}

/* line 135, ../sass/style.scss */
section.steps {
  margin: 30px 0 80px 0;
  overflow: hidden;
}
/* line 138, ../sass/style.scss */
section.steps h2 {
  color: #d22630;
}
/* line 141, ../sass/style.scss */
section.steps .item {
  margin-top: 60px;
  overflow: hidden;
  position: relative;
}
/* line 147, ../sass/style.scss */
section.steps .item p {
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  color: #464646;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* line 158, ../sass/style.scss */
section.steps .item:nth-child(odd) img {
  float: right;
  margin-right: 25px;
}
/* line 162, ../sass/style.scss */
section.steps .item:nth-child(odd) p {
  text-align: left;
  padding: 20px 0 20px 25px;
  border-left: 1px solid #d22630;
  left: 0;
}
/* line 170, ../sass/style.scss */
section.steps .item:nth-child(even) img {
  margin-left: 25px;
}
/* line 173, ../sass/style.scss */
section.steps .item:nth-child(even) p {
  padding: 20px 25px 20px 0;
  right: 0;
  border-right: 1px solid #d22630;
}
/* line 179, ../sass/style.scss */
section.steps .item:nth-of-type(1) {
  margin-top: 0;
}

/* line 183, ../sass/style.scss */
section.answer {
  margin-bottom: 60px;
  background: #d9d9d6;
  padding: 35px 30px 35px 40px;
}
/* line 187, ../sass/style.scss */
section.answer p {
  font-size: 22px;
  line-height: 34px;
  color: #252525;
}
/* line 192, ../sass/style.scss */
section.answer p:nth-of-type(1) {
  margin-bottom: 15px;
}
