/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'daxlineoffcpro';
  src: url("/moya/fonts/Daxlineoffcpro.eot");
  src: url("/moya/fonts/Daxlineoffcpro.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcpro.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcpro.woff") format("woff"), url("/moya/fonts/Daxlineoffcpro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcprolight';
  src: url("/moya/fonts/Daxlineoffcprolight.eot");
  src: url("/moya/fonts/Daxlineoffcprolight.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcprolight.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcprolight.woff") format("woff"), url("/moya/fonts/Daxlineoffcprolight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcprobold';
  src: url("/moya/fonts/Daxlineoffcprobold.eot");
  src: url("/moya/fonts/Daxlineoffcprobold.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcprobold.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcprobold.woff") format("woff"), url("/moya/fonts/Daxlineoffcpro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcproblack';
  src: url("/moya/fonts/Daxlineoffcproblack.eot");
  src: url("/moya/fonts/Daxlineoffcproblack.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcproblack.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcproblack.woff") format("woff"), url("/moya/fonts/Daxlineoffcproblack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 56, ../sass/style.scss */
.center {
  width: 1000px;
  margin: 0 auto;
}
/* line 59, ../sass/style.scss */
.center nav {
  margin-left: 17px;
}

/* line 63, ../sass/style.scss */
footer {
  margin: auto;
}

/* line 66, ../sass/style.scss */
section.content {
  padding: 40px 20px 0 20px;
  margin-bottom: 20px;
  position: relative;
}
/* line 70, ../sass/style.scss */
section.content h2 {
  text-align: center;
  margin: 0 0 40px 0;
  font-family: "daxlineoffcprobold";
  color: #939598;
  font-size: 28px;
}
/* line 77, ../sass/style.scss */
section.content p {
  line-height: 24px;
  font-size: 20px;
  color: #939598;
  text-align: center;
  font-family: "daxlineoffcpro";
}
/* line 83, ../sass/style.scss */
section.content p a {
  color: #c1d43d;
  text-decoration: none;
}
/* line 86, ../sass/style.scss */
section.content p a i {
  font-size: 17px;
  margin-left: 6px;
}
/* line 92, ../sass/style.scss */
section.content p:nth-of-type(2) {
  margin-top: 16px;
}
/* line 95, ../sass/style.scss */
section.content div.haiku {
  z-index: 99;
}
/* line 98, ../sass/style.scss */
section.content div.haiku, section.content div.haiku-appled {
  margin-top: 43px;
  height: 500px;
  background-image: url("../../images/bg-haiku.jpg");
  position: relative;
}
/* line 103, ../sass/style.scss */
section.content div.haiku img, section.content div.haiku-appled img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}
/* line 109, ../sass/style.scss */
section.content div.haiku p, section.content div.haiku-appled p {
  font-size: 20px;
  line-height: 28px;
  color: #4E3629;
  position: absolute;
  top: 84px;
  left: 80px;
  text-align: left;
}
/* line 119, ../sass/style.scss */
section.content div.haiku-appled {
  margin-top: -500px;
  z-index: 98;
}
/* line 122, ../sass/style.scss */
section.content div.haiku-appled .apple {
  position: absolute;
  transform: initial;
  top: 0;
  left: 0;
}
/* line 128, ../sass/style.scss */
section.content .social {
  margin: 0;
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 106px;
  z-index: 99;
}
/* line 135, ../sass/style.scss */
section.content .social p {
  font-size: 20px;
  color: #4E3629;
}
/* line 139, ../sass/style.scss */
section.content .social a {
  display: inline-block;
  margin: 18px 10px 0 0;
}
