$regular: 'daxlineoffcpro';
$bold: 'daxlineoffcprobold';
$black: 'daxlineoffcproblack';
$light: 'daxlineoffcprolight';

@media (max-width: 567px) {
	.center{
		width:320px;
	}
	section{
		h2{
			font-size: 18px;
			line-height: 32px;
			padding: 25px 20px;
		}
	}
	section.description{
		p{
			font-size: 18px;
			line-height: 24px;
			font-family: $bold;
			text-align: center;
			padding: 195px 14px 25px 25px;
		}
		img{
			left:0;
			right: 0;
			top: 25px;
			transform: initial;
			margin: 0 auto;
		}
	}
	section.pull{
		h2{

		}
		.item{
			text-align: center;
			margin: 10px 0;
			span{
				margin-left: 0;
			}
			p{
				font-size: 16px;
				line-height: 20px;
				position: static;
				display: block;
				transform: initial;
				margin-top: 15px;
			}
		}
	}
	section.steps{
		margin: 20px 0 20px 0;
		.item{
			text-align: center;
			margin-top: 40px; 
			img{
				margin: 0;
				display:inline-block;
				float:none;
			}
			p{
				text-align: center;
				position: static;
				transform: initial;
				font-size: 18px;
				line-height: 27px;
				margin-top: 10px;
			}
		}
		.item:nth-child(even){
			img{
				margin:0;
			}
			p{
				text-align: center;
				padding: 0 20px;
			}
		}
		.item:nth-child(odd){
			img{
				margin:0;
				float: none;
			}
			p{
				text-align: center;
				padding: 0 20px;
			}
		}
	}
	section.answer{
		margin-bottom: 20px;
		p{
			text-align: center;
			font-size: 16px;
			line-height: 30px;
		}
	}
}