@import "compass/reset";

@font-face {
    font-family: 'daxlineoffcpro';
    src: url('/moya/fonts/Daxlineoffcpro.eot');
    src: url('/moya/fonts/Daxlineoffcpro.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcpro.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcpro.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcpro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprolight';
    src: url('/moya/fonts/Daxlineoffcprolight.eot');
    src: url('/moya/fonts/Daxlineoffcprolight.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcprolight.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcprolight.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcprolight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprobold';
    src: url('/moya/fonts/Daxlineoffcprobold.eot');
    src: url('/moya/fonts/Daxlineoffcprobold.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcprobold.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcprobold.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcpro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcproblack';
    src: url('/moya/fonts/Daxlineoffcproblack.eot');
    src: url('/moya/fonts/Daxlineoffcproblack.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcproblack.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcproblack.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcproblack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

$regular: 'daxlineoffcpro';
$bold: 'daxlineoffcprobold';
$black: 'daxlineoffcproblack';
$light: 'daxlineoffcprolight';


.center{
	width:1000px;
	margin: 0 auto;
    nav{
        margin-left: 17px;
    }
}
footer{
    margin: auto;
}
section{
    font-family: $regular;
    color: #464646; 
    h2{
        font-size: 28px;
        line-height: 32px;
        color: #939598;
        padding: 50px 0;
        text-align: center;
        font-family: $bold;
    }
}
section.description{
    background: #d9d9d6;
    position: relative;
    p{
        font-size: 30px;
        line-height: 45px;
        color: #464646;
        padding:40px;
    }
    img{
        position: absolute;
        left: 765px;
        top:50%;
        transform: translateY(-50%);
    }
}
section.pull{
    overflow: hidden; 
    .item{
        width: 50%;
        float: left;
        position: relative;
        margin: 20px 0;
        span{
            width:45px; 
            height: 45px;
            background-repeat: no-repeat;
            background-position: center;
            display:inline-block;
            margin-left: 80px;
        }
        p{
            display:inline-block;
            font-size: 20px;
            line-height: 20px;
            position: absolute;
            left: 160px;
            top:50%;
            transform: translateY(-50%);
        }
    }
    .item:nth-of-type(1){
        span{
            background-image: url("../images/pull-1.png");
        }
    }
    .item:nth-of-type(2){
        span{
            background-image: url("../images/pull-2.png");
        }
    }
    .item:nth-of-type(3){
        span{
            background-image: url("../images/pull-3.png");
        }
    }
    .item:nth-of-type(4){
        span{
            background-image: url("../images/pull-4.png");
        }
    }
}
section.steps{
    margin: 30px 0 80px 0; 
    overflow: hidden;
    h2{
        color:#d22630; 
    }
    .item{
        margin-top: 60px;
        overflow: hidden;
        position:relative;
        img{
        }
        p{
            text-align: left;
            font-size: 24px;
            line-height: 28px;
            color:#464646;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .item:nth-child(odd){
        img{
            float: right;
            margin-right: 25px;
        }
        p{
            text-align: left;
            padding: 20px 0 20px 25px;
            border-left: 1px solid #d22630; 
            left:0;
        }
    }
    .item:nth-child(even){
        img{
            margin-left: 25px;
        }
        p{
            padding: 20px 25px 20px 0;
            right: 0;
            border-right: 1px solid #d22630; 
        }
    }
    .item:nth-of-type(1){
        margin-top: 0;
    }
}
section.answer{
    margin-bottom: 60px;
    background: #d9d9d6;
    padding: 35px 30px 35px 40px;
    p{
        font-size: 22px;
        line-height: 34px;
        color: #252525;
    }
    p:nth-of-type(1){
        margin-bottom: 15px;
    }
}