/* line 5, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'daxlineoffcpro';
  src: url("fonts/Daxlineoffcpro.eot");
  src: url("fonts/Daxlineoffcpro.eot?#iefix") format("embedded-opentype"), url("fonts/Daxlineoffcpro.woff2") format("woff2"), url("fonts/Daxlineoffcpro.woff") format("woff"), url("fonts/Daxlineoffcpro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcprolight';
  src: url("fonts/Daxlineoffcprolight.eot");
  src: url("fonts/Daxlineoffcprolight.eot?#iefix") format("embedded-opentype"), url("fonts/Daxlineoffcprolight.woff2") format("woff2"), url("fonts/Daxlineoffcprolight.woff") format("woff"), url("fonts/Daxlineoffcprolight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcprobold';
  src: url("fonts/Daxlineoffcprobold.eot");
  src: url("fonts/Daxlineoffcprobold.eot?#iefix") format("embedded-opentype"), url("fonts/Daxlineoffcprobold.woff2") format("woff2"), url("fonts/Daxlineoffcprobold.woff") format("woff"), url("fonts/Daxlineoffcpro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 38, ../sass/style.scss */
.center {
  width: 1000px;
  margin: auto;
  font-family: "daxlineoffcpro";
}

/* line 43, ../sass/style.scss */
.center nav {
  margin-left: 18px;
  margin-top: 20px;
}

/* line 47, ../sass/style.scss */
footer {
  margin: auto;
}

/* line 50, ../sass/style.scss */
input, select, textarea {
  outline: none;
  background: transparent;
}

/* line 54, ../sass/style.scss */
section.feedback {
  padding: 20px 0 40px 0;
}
/* line 56, ../sass/style.scss */
section.feedback .chosen-container {
  display: none !important;
}
/* line 59, ../sass/style.scss */
section.feedback form {
  width: 440px;
  display: block;
  margin: 0 auto;
  font-size: 16px;
}
/* line 64, ../sass/style.scss */
section.feedback form input, section.feedback form textarea, section.feedback form input[type="text"] {
  overflow: hidden;
  height: auto;
  background: transparent;
  margin-top: 30px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d9d9d6;
  padding: 12px 0;
  font-size: 16px;
  padding-left: 10px;
  font-family: "daxlineoffcprolight";
}
/* line 77, ../sass/style.scss */
section.feedback form input::-moz-placeholder, section.feedback form textarea::-moz-placeholder {
  color: #a9a9a9;
}
/* line 80, ../sass/style.scss */
section.feedback form input:-ms-input-placeholder, section.feedback form textarea:-ms-input-placeholder {
  color: #a9a9a9;
}
/* line 83, ../sass/style.scss */
section.feedback form input::-webkit-input-placeholder, section.feedback form textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}
/* line 86, ../sass/style.scss */
section.feedback form textarea {
  height: 45px;
  resize: none;
}
/* line 90, ../sass/style.scss */
section.feedback form select {
  display: none;
}
/* line 93, ../sass/style.scss */
section.feedback form .select {
  margin-top: 30px;
  border-bottom: 1px solid #d9d9d6;
  font-size: 16px;
  font-family: "daxlineoffcprolight";
  position: relative;
}
/* line 100, ../sass/style.scss */
section.feedback form .select p {
  color: #a9a9a9;
  padding-left: 10px;
  cursor: pointer;
  line-height: 45px;
}
/* line 105, ../sass/style.scss */
section.feedback form .select p i {
  float: right;
  margin-right: 10px;
}
/* line 110, ../sass/style.scss */
section.feedback form .select div {
  display: none;
}
/* line 113, ../sass/style.scss */
section.feedback form .select .scroll {
  position: absolute;
  top: 46px;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
/* line 120, ../sass/style.scss */
section.feedback form .select .scroll input {
  margin-top: 0;
  background: rgba(204, 204, 204, 0.1);
}
/* line 124, ../sass/style.scss */
section.feedback form .select .scroll ul {
  max-height: 200px;
  overflow: auto;
}
/* line 127, ../sass/style.scss */
section.feedback form .select .scroll ul li {
  border-bottom: 1px solid rgba(217, 217, 214, 0.3);
}
/* line 130, ../sass/style.scss */
section.feedback form .select .scroll ul li:hover {
  background: rgba(204, 204, 204, 0.3);
}
/* line 133, ../sass/style.scss */
section.feedback form .select .scroll ul li:last-child {
  border: 0;
}
/* line 139, ../sass/style.scss */
section.feedback form .subtype {
  display: none;
}
/* line 142, ../sass/style.scss */
section.feedback form #file {
  display: none;
}
/* line 145, ../sass/style.scss */
section.feedback form label.forFile {
  display: block;
  position: relative;
}
/* line 148, ../sass/style.scss */
section.feedback form label.forFile input {
  background: transparent;
}
/* line 151, ../sass/style.scss */
section.feedback form label.forFile i {
  position: absolute;
  font-size: 16px;
  color: #b1b1b1;
  right: 10px;
  top: 45px;
  cursor: pointer;
}
/* line 159, ../sass/style.scss */
section.feedback form label.forFile i:hover {
  color: #C1D43C;
}
/* line 163, ../sass/style.scss */
section.feedback form #contact {
  display: none;
}
/* line 166, ../sass/style.scss */
section.feedback form .contact {
  display: block;
  margin-top: 30px;
  line-height: 18px;
  cursor: pointer;
}
/* line 171, ../sass/style.scss */
section.feedback form .contact span {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-image: url(../images/checkbox.png);
  background-repeat: no-repeat;
  float: left;
  margin-right: 15px;
}
/* line 180, ../sass/style.scss */
section.feedback form .contact p {
  font-size: 16px;
  color: #b1b1b1;
}
/* line 185, ../sass/style.scss */
section.feedback form button {
  margin-top: 30px;
  width: 100%;
  background: #C1D43C;
  color: #364E39;
  border: 0;
  font-family: "daxlineoffcprobold";
  padding: 12px 0;
  font-size: 16px;
  line-height: 18px;
}
/* line 195, ../sass/style.scss */
section.feedback form button i {
  margin-left: 10px;
}
/* line 199, ../sass/style.scss */
section.feedback form .time {
  display: none;
  margin-top: 30px;
}
/* line 202, ../sass/style.scss */
section.feedback form .time p {
  display: inline-block;
  line-height: 41px;
}
/* line 206, ../sass/style.scss */
section.feedback form .time span {
  padding: 12px 0;
  line-height: 16px;
  font-size: 16px;
}
/* line 211, ../sass/style.scss */
section.feedback form .time .after, section.feedback form .time .before {
  margin: 0 10px;
  width: 100px;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid #d9d9d6;
  color: #a9a9a9;
  position: relative;
}
/* line 219, ../sass/style.scss */
section.feedback form .time .after b, section.feedback form .time .before b {
  padding-left: 10px;
}
/* line 222, ../sass/style.scss */
section.feedback form .time .after i, section.feedback form .time .before i {
  float: right;
}
/* line 225, ../sass/style.scss */
section.feedback form .time .after ul, section.feedback form .time .before ul {
  display: none;
  position: absolute;
  background: #fff;
  top: 41px;
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
}
/* line 233, ../sass/style.scss */
section.feedback form .time .after ul li, section.feedback form .time .before ul li {
  padding: 6px 0 6px 10px;
}
/* line 236, ../sass/style.scss */
section.feedback form .time .after ul li:hover, section.feedback form .time .before ul li:hover {
  background: #d9d9d6;
  color: #717171;
}
