@media (max-width: 567px) {
  /* line 7, ../sass/media.scss */
  .center {
    width: 320px;
  }

  /* line 11, ../sass/media.scss */
  section h2 {
    font-size: 21px;
    padding: 20px 0;
  }

  /* line 17, ../sass/media.scss */
  section.description p {
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    padding: 195px 45px 25px 45px;
  }
  /* line 23, ../sass/media.scss */
  section.description img {
    left: 0;
    right: 0;
    top: 25px;
    transform: initial;
    margin: 0 auto;
  }

  /* line 32, ../sass/media.scss */
  section.table .item {
    height: auto;
  }
  /* line 34, ../sass/media.scss */
  section.table .item .l_el {
    width: 100%;
  }
  /* line 37, ../sass/media.scss */
  section.table .item p {
    position: static;
    transform: initial;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    padding: 20px 25px;
  }
  /* line 44, ../sass/media.scss */
  section.table .item p a {
    margin-top: 10px;
  }
  /* line 49, ../sass/media.scss */
  section.table .item:last-child {
    margin-bottom: 0;
  }

  /* line 55, ../sass/media.scss */
  section.facts .item .count {
    font-size: 48px;
    line-height: 40px;
    background-size: 35px;
  }
  /* line 60, ../sass/media.scss */
  section.facts .item p {
    font-size: 21px;
    line-height: 24px;
    padding: 50px 0;
    text-align: center;
  }
  /* line 68, ../sass/media.scss */
  section.facts .item:nth-of-type(1) .count {
    left: 240px;
    top: 30px;
    padding: 50px 0 0 0;
  }
  /* line 73, ../sass/media.scss */
  section.facts .item:nth-of-type(1) p {
    width: 235px;
    text-align: center;
    padding-left: 10px;
  }
  /* line 80, ../sass/media.scss */
  section.facts .item:nth-of-type(2) .count {
    left: 40px;
    top: 35px;
  }
  /* line 86, ../sass/media.scss */
  section.facts .item:nth-of-type(3) .count {
    left: 75px;
    top: 105px;
  }
  /* line 90, ../sass/media.scss */
  section.facts .item:nth-of-type(3) p {
    padding: 50px 20px;
  }
  /* line 92, ../sass/media.scss */
  section.facts .item:nth-of-type(3) p span {
    margin-bottom: 45px;
    display: inline-block;
  }
  /* line 99, ../sass/media.scss */
  section.facts .item:nth-of-type(4) .count {
    left: 75px;
    top: 56px;
  }
  /* line 103, ../sass/media.scss */
  section.facts .item:nth-of-type(4) p {
    padding: 97px 20px 50px 20px;
  }
  /* line 105, ../sass/media.scss */
  section.facts .item:nth-of-type(4) p span {
    margin: 0;
  }
  /* line 111, ../sass/media.scss */
  section.facts .item:nth-of-type(5) .count {
    left: 60px;
    top: 105px;
  }
  /* line 115, ../sass/media.scss */
  section.facts .item:nth-of-type(5) p {
    padding: 50px 20px 50px 20px;
  }
  /* line 117, ../sass/media.scss */
  section.facts .item:nth-of-type(5) p span {
    margin-bottom: 45px;
    display: inline-block;
  }

  /* line 125, ../sass/media.scss */
  section.question h2 {
    margin-top: 40px;
  }
}
