/* line 5, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'daxlineoffcpro';
  src: url("/moya/fonts/Daxlineoffcpro.eot");
  src: url("/moya/fonts/Daxlineoffcpro.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcpro.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcpro.woff") format("woff"), url("/moya/fonts/Daxlineoffcpro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcprolight';
  src: url("/moya/fonts/Daxlineoffcprolight.eot");
  src: url("/moya/fonts/Daxlineoffcprolight.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcprolight.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcprolight.woff") format("woff"), url("/moya/fonts/Daxlineoffcprolight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcprobold';
  src: url("/moya/fonts/Daxlineoffcprobold.eot");
  src: url("/moya/fonts/Daxlineoffcprobold.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcprobold.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcprobold.woff") format("woff"), url("/moya/fonts/Daxlineoffcpro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daxlineoffcproblack';
  src: url("/moya/fonts/Daxlineoffcproblack.eot");
  src: url("/moya/fonts/Daxlineoffcproblack.eot?#iefix") format("embedded-opentype"), url("/moya/fonts/Daxlineoffcproblack.woff2") format("woff2"), url("/moya/fonts/Daxlineoffcproblack.woff") format("woff"), url("/moya/fonts/Daxlineoffcproblack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 51, ../sass/style.scss */
.center {
  width: 1000px;
  margin: 0 auto;
}
/* line 54, ../sass/style.scss */
.center nav {
  margin-left: 17px;
}

/* line 58, ../sass/style.scss */
footer {
  margin: auto;
}

/* line 61, ../sass/style.scss */
section {
  font-size: 28px;
  line-height: 40px;
  font-family: "daxlineoffcpro";
  color: #696c6f;
}
/* line 66, ../sass/style.scss */
section h2 {
  font-family: "daxlineoffcprobold";
  text-align: center;
  padding: 25px 0;
}

/* line 72, ../sass/style.scss */
section.description {
  background: #f2f6f8;
  position: relative;
}
/* line 75, ../sass/style.scss */
section.description img {
  position: absolute;
  left: 765px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 81, ../sass/style.scss */
section.description p {
  padding: 70px 65px;
}
/* line 83, ../sass/style.scss */
section.description p span {
  color: #d1222c;
}

/* line 89, ../sass/style.scss */
section.table h2 {
  color: #d1222c;
}
/* line 92, ../sass/style.scss */
section.table .item {
  height: 250px;
  border: 3px solid #f2f6f8;
  margin-bottom: 16px;
  position: relative;
}
/* line 97, ../sass/style.scss */
section.table .item .l_el {
  background: #f2f6f8;
  width: 250px;
  height: 250px;
  position: relative;
}
/* line 102, ../sass/style.scss */
section.table .item .l_el img {
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 111, ../sass/style.scss */
section.table .item p {
  position: absolute;
  left: 330px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 116, ../sass/style.scss */
section.table .item p a {
  margin-top: 20px;
  font-family: "daxlineoffcprobold";
  color: #a8ca24;
  text-decoration: none;
  display: block;
}
/* line 122, ../sass/style.scss */
section.table .item p a i {
  margin-left: 15px;
  font-size: 20px;
}

/* line 131, ../sass/style.scss */
section.facts .item {
  border-bottom: 3px solid #f2f6f8;
  position: relative;
}
/* line 134, ../sass/style.scss */
section.facts .item p {
  padding: 70px 0 70px 65px;
}
/* line 137, ../sass/style.scss */
section.facts .item .count {
  position: absolute;
  font-size: 70px;
  background-repeat: no-repeat;
  background-position: top right;
  line-height: 63px;
  padding-right: 50px;
  display: inline-block;
}
/* line 147, ../sass/style.scss */
section.facts .item:nth-of-type(1) {
  border-top: 3px solid #f2f6f8;
}
/* line 149, ../sass/style.scss */
section.facts .item:nth-of-type(1) .count {
  background-image: url("../images/count-1.png");
  left: 681px;
  top: 47px;
}
/* line 157, ../sass/style.scss */
section.facts .item:nth-of-type(2) p span {
  margin-left: 105px;
}
/* line 161, ../sass/style.scss */
section.facts .item:nth-of-type(2) .count {
  background-image: url("../images/count-2.png");
  left: 62px;
  top: 47px;
}
/* line 168, ../sass/style.scss */
section.facts .item:nth-of-type(3) .count {
  background-image: url("../images/count-3.png");
  left: 695px;
  top: 47px;
}
/* line 176, ../sass/style.scss */
section.facts .item:nth-of-type(4) p span {
  margin-left: 228px;
}
/* line 180, ../sass/style.scss */
section.facts .item:nth-of-type(4) .count {
  background-image: url("../images/count-4.png");
  left: 62px;
  top: 47px;
}
/* line 187, ../sass/style.scss */
section.facts .item:nth-of-type(5) .count {
  background-image: url("../images/count-5.png");
  left: 575px;
  top: 47px;
}

/* line 194, ../sass/style.scss */
section.question {
  text-align: center;
  margin-bottom: 60px;
}
/* line 197, ../sass/style.scss */
section.question h2 {
  margin-top: 65px;
}
/* line 200, ../sass/style.scss */
section.question span {
  display: inline-block;
  padding: 15px;
  font-size: 16px;
  background: #385b3e;
  line-height: normal;
  color: #fff;
  font-family: "daxlineoffcprobold";
}
/* line 208, ../sass/style.scss */
section.question span i {
  font-size: 13px;
  margin-left: 10px;
}
